/nbproject/private/
/build/
/GomokuAlgorithm1/nbproject/private/
/GomokuAlgorithm1/build/
/GomokuAlgorithm2/nbproject/private/
/GomokuAlgorithm2/build/
/GomokuAlgorithmGenetic/nbproject/private/
/GomokuAlgorithmGenetic/build/
/GomokuContest/nbproject/private/
/GomokuContest/build/
/GomokuContest/dist/